{% macro title(page, in_list) %}
    <header class="post__header">
	{% if in_list == "true" %}
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
	{% else %}
        <h1>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
	{% endif %}
        <div class="post__meta">
            <span class="post__time">{{ page.date | date(format="%F") }}</span>
            {% if page.category %}
                <div class="post__category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                </div>
            {% endif %}
        </div>
    </header>
{% endmacro title %}

{% macro social_media_icons(extra) %}
    {% if config.extra.github %}
    <a href="https://github.com/{{ config.extra.github }}">
	<img src="/images/icon-github.svg" width="24" height="24" />
    </a>
    {% endif %}
    {% if config.extra.linkedin %}
    <a href="https://linkedin.com/in/{{ config.extra.linkedin }}">
	<img src="/images/icon-linkedin.svg" width="24" height="24" />
    </a>
    {% endif %}
    {% if config.extra.twitter %}
    <a href="https://twitter.com/{{ config.extra.twitter }}">
	<img src="/images/icon-twitter.svg" width="24" height="24" />
    </a>
    {% endif %}
{% endmacro social_media_icons %}
